@import "../abstracts/color";
 
.detail__left{
    margin-left: 15px;
    width: 360px;
    background-color: white;
    height: 1400px;
    &__type{
        margin-top: 10px;
        color: gray;
        margin-left: 20px;
        font-size: 14px;

        &__choosen{
            padding: 20px;
            color:gray;
            &>ul {
                display: flex;
                flex-direction: column;
                gap: 32px;
            }
        }
        
    }
    &__capaciyt{
        margin-top: 10px;
        color: rgba(128, 128, 128, 0);
        margin-left: 20px;
        &>p {
            color: gray;
            margin-top: 30px;
            font-size: 14px;
        }
        &__choosen{
            padding: 20px;
            color: gray;
            &>ul {
                display: flex;
                flex-direction: column;
                gap: 32px;
            }
        }
    }
    &__PRICE{
      color: gray;
      margin-left: 20px;
      margin-top: 30px;
      font-size: 14px;
      margin-bottom: 25px;
      &__COST{
        height: 5px;
        width: 90px;
        border-radius: 20px;
        color:blue;
        margin-left: 20px;
        margin-top: 15px;
        &__p{
            color: rgba(0, 0, 0, 0.677);
            font-size: 20px;
            margin-top: 12px;
        }
        &>input {
            width: 296px;
        }
      }
      
    }
}
.detail__right__img{
   background-color: $blue;
    width: 492px;
    position: relative;
    height: 360px;
    border-radius: 15px;

    
    &__h1{
       color: white;
       padding-top: 30px;
       padding-left: 10px;
       font-size: 32px;
       margin-left: 10px;
       margin-bottom: 40px;
       
       &__p{
        color: white;
        // font-size: 10px;
        padding-left: 10px;
        margin-left: 10px;
        width: 300px;
    }
        
        
    }
   

}
.detail__right__right{
    width: 492px;
    height: 508px;
    
    padding: 24px;
    border-radius: 10px;
    position: relative;
    &>i {
        position: absolute;
        top: 24px;
        left: 444px;
        font-size: 20px;
        color: #ED3F3F;
    }
  
    &__h2{
        gap: 20px;
        font-size: 32px;    }

    &__p{
        margin-top: 40px
        
        
        
    }
    &__i{
        margin-top: 10px;
        &>i {
            color: #FBAD39;
        }
    }
    &__span{ 
        margin-top: 50px;
        gap: 20px;

    
    }
  
}
.detail__right{
    display: flex;
    gap: 30px;
    height: 1400px;
}
.detail{
    display: flex;
    gap: 40px;
    padding-top: 32px;
    height: 1800px;
}
.i{
    position: absolute;
    bottom: 0;
    left: 0;
    // font-size: 90px;
    width: 492px;
    height: 360px;
    &>img {
        width: 100%;
        height: 100%;
    }
}
.detail__right__right__buttom{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.detail__right__right__button{
    border-radius: 10px;
    &>a>button {
        width: 140px;
        height: 56px;
        border-radius: 5px;
        background-color: #3563E9;
        color: white;
        font-weight: 600;
        border: none;
        &:hover {
            cursor: pointer;
        }
    }
}
.detail__right__right__span{
    display: flex;
    gap: 35px;
}
.detail__right__right__span__bottom{
    display: flex;
    gap: 35px;
    margin-top: 20px;
}
.detail__right__right__p{
    color: gray;
    font-size: 20px;
    line-height: 40px;
}
.div__img{
    display: flex;
    margin-top: 220px;
    display: flex;
    justify-content: space-between;
    &>img {
        width: 148px;
        height: 124px;
    }
}
.div__right{
    display: flex;
    gap: 20px;
}
.detail__right__buttom{
    width: 900px;
    height: 200px;
   
    margin-top: 20px;
    &__img{
        margin-top: 20px;
    }
    
}
.detail__right__buttom__h2{
    margin-top: 20px;
    font-size: 20px;
    color: black;
}
.detail__right__buttom__p{
    margin-top: 20px;
    color: gray;
}
.cart{
    height: 388px;
    width:  317px;
    padding: 24px;
    
    position: relative;
    &__p{
        margin-top: 5px;
        font-size: 14px;
        color: #90A3BF;
    }
    &__i{
        position: absolute;
        left: 240px;
         bottom: 180px;
    }
    img {
        margin-top: 52px;
    }

    &__ii{
       display: flex;
       gap: 30px;
       margin-left: 15px;
       margin-top: 52px;
       color: #90A3BF;
       
    }
    &__div{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        padding: 5px;
    }
    &__pp>p {
        font-size: 14px;
        font-weight: 600;
        line-height: 44px;
    }
    &__button>button {
        height: 44px;
        width: 116px;
        background-color: #3563E9;
        border: none;
        color: white;
        border-radius: 5px;
    }
}
.cart__detail{
    display: flex;
    height: 430px;
    width: 1030px;
    
    flex-wrap: wrap;
   
    
}
.cart__detail__buttom{
    display: flex;
    margin-top: 20px;
}
.cart__h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}    
.detail>i {
    font-size: 30px;
    display: none;
}
@media only screen and (max-width: 1250px) {
    .detail__left {
        display: none;
    }
    .detail {
        justify-content: end;
    }
    .detail>i {
        display: block;
        position: absolute;
        left: 10px;
    }
}
@media only screen and (max-width: 1055px) {

}
