.left_ad{
    width: 640px;
    height: 360px;
    background-color:skyblue ;
    border-radius: 8px;
    position: relative;
    
}


.image{
        position: absolute;
        bottom: 15px;
        right: 10px;
       
}

   



