html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  font-family: Arial, Helvetica, sans-serif; }

h1, h2, h3, h4, h5, h6, p, span, a, button {
  font-family: Arial, Helvetica, sans-serif; }

.div_1 {
  height: 100px;
  width: 100px;
  background-color: blue; }

.sahib {
  background-color: blue;
  width: 100%;
  height: 200px; }

.header {
  height: 124px;
  width: 100%;
  border: 1px solid #C3D4E966;
  display: flex;
  align-items: center;
  padding: 0 32px 0 60px;
  justify-content: space-between; }
  .header > i {
    font-size: 22px;
    display: none; }
  .header__left {
    display: flex;
    align-items: center; }
    .header__left__search {
      margin-left: 64px;
      position: relative; }
      .header__left__search .search {
        position: absolute;
        top: 12px;
        left: 15px;
        font-size: 20px;
        color: #596780; }
        .header__left__search .search:hover {
          cursor: pointer;
          color: #39455a; }
      .header__left__search .sliders {
        position: absolute;
        top: 12px;
        right: 15px;
        font-size: 20px;
        color: #596780; }
        .header__left__search .sliders:hover {
          cursor: pointer; }
      .header__left__search > input {
        height: 44px;
        width: 492px;
        border-radius: 70px;
        padding-left: 64px;
        padding-right: 60px;
        font-size: 14px;
        border: 1px solid #C3D4E966; }
  .header__left h1 {
    color: #3563E9;
    font-size: 32px;
    font-weight: 700; }
  .header__left__logo {
    width: 148px;
    height: 44px;
    display: flex;
    align-items: center; }
  .header__right {
    width: 236px;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative; }
    .header__right > i {
      font-size: 11px;
      color: #FF4423;
      position: absolute;
      top: 2px;
      left: 85px; }
      .header__right > i:hover {
        cursor: pointer; }
    .header__right > img {
      height: 44px;
      width: 44px;
      border-radius: 90px; }
    .header__right > div {
      height: 44px;
      width: 44px;
      display: flex;
      align-items: center; }
      .header__right > div > i {
        font-size: 24px;
        color: #596780; }
        .header__right > div > i:hover {
          cursor: pointer; }

@media only screen and (max-width: 1001px) {
  .header {
    padding: 0 10px 0 5px; }
  .header__left__search > input {
    width: 300px; } }

@media only screen and (max-width: 768px) {
  .header__right {
    display: none; }
  .header > i {
    display: block; }
  .header__left__search {
    margin-left: 10px; } }

@media only screen and (max-width: 500px) {
  .header__left__search > input {
    width: 200px; } }

@media only screen and (max-width: 320px) {
  .header {
    padding: 0px; }
  .header > i {
    margin-left: 40px; } }

.footer {
  height: 480px;
  width: 100%; }
  .footer__up {
    height: 360px;
    border-bottom: 1px solid #13131329;
    display: flex; }
    .footer__up__left {
      padding: 80px 0 0 60px;
      width: 50%;
      height: 100%; }
      .footer__up__left > div {
        height: 108px;
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .footer__up__left > div > .footer__logo {
          display: flex;
          align-items: center;
          height: 44px; }
          .footer__up__left > div > .footer__logo > h1 {
            color: #3563E9;
            font-size: 32px;
            font-weight: 700; }
        .footer__up__left > div > .footer__logo__down {
          display: flex;
          align-items: center;
          height: 48px; }
          .footer__up__left > div > .footer__logo__down > p {
            font-size: 16px;
            color: #13131399;
            font-weight: 500; }
    .footer__up__right {
      padding: 80px 60px 0 40px;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: space-between; }
      .footer__up__right__conteiner {
        height: 244px;
        width: 152px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .footer__up__right__conteiner p {
          font-size: 20px;
          font-weight: 600;
          color: #1A202C;
          height: 32px;
          display: flex;
          align-items: center; }
        .footer__up__right__conteiner a {
          color: #13131399;
          font-size: 16px; }
        .footer__up__right__conteiner li {
          padding: 15px 0; }
  .footer__down {
    display: flex;
    padding: 36px 60px 60px 60px;
    justify-content: space-between; }
    .footer__down__left p {
      font-size: 16px;
      font-weight: 600;
      height: 24px;
      display: flex;
      align-items: center; }
    .footer__down__right {
      display: flex;
      gap: 60px; }
      .footer__down__right a {
        color: #1A202C;
        display: flex;
        align-items: center; }

@media only screen and (max-width: 1200px) {
  .footer__up__left {
    padding: 80px 0 0 20px;
    width: 50%;
    height: 100%; }
  .footer__up__right {
    padding: 80px 30px 0 20px;
    width: 50%;
    height: 100%; } }

@media only screen and (max-width: 1001px) {
  .footer__up__left {
    padding: 80px 0 0 20px;
    width: 40%;
    height: 100%; }
  .footer__up__right {
    padding: 80px 30px 0 20px;
    width: 60%;
    height: 100%; } }

@media only screen and (max-width: 768px) {
  .footer__up {
    flex-direction: column;
    height: 800px; }
  .footer__up__left {
    padding: 80px 0 0 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0; }
  .footer__up__right {
    padding: 80px 15px 0 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 0; }
  .footer__down {
    padding: 36px 30px 60px 30px; }
  .footer__down__right {
    gap: 30px; } }

@media only screen and (max-width: 500px) {
  .footer__up__right {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .footer__up {
    flex-direction: column;
    height: 900px; }
  .footer__down {
    padding: 36px 10px 60px 10px; }
  .footer__down__right {
    gap: 10px; } }

@media only screen and (max-width: 320px) {
  .footer__down {
    padding: 16px 5px 30px 5px; } }

.div_1 {
  height: 100px;
  width: 100px;
  background-color: azure; }

.row {
  width: 90%;
  margin: 0 auto;
  padding: 32px; }

.ads {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 50px; }

.left_ad {
  width: 100%;
  height: 360px;
  background-color: #54a6ff;
  border-radius: 8px;
  position: relative;
  padding: 24px; }
  .left_ad .image {
    position: absolute;
    bottom: 0px;
    left: -10px;
    padding-right: 20px; }
  .left_ad h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.96px;
    color: #fff; }
  .left_ad p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: #fff;
    margin-top: 10px; }
  .left_ad button {
    width: 120px;
    height: 44px;
    background-color: #3562e9;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
    z-index: 1;
    position: relative; }
    .left_ad button:hover {
      cursor: pointer; }

.right_ad {
  width: 100%;
  height: 360px;
  background-color: #54a6ff;
  border-radius: 8px;
  position: relative;
  padding: 24px; }
  .right_ad .image {
    position: absolute;
    bottom: 0px;
    left: -10px;
    padding-right: 20px; }
  .right_ad h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -0.96px;
    color: #fff; }
  .right_ad p {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.32px;
    color: #fff;
    margin-top: 10px; }
  .right_ad button {
    width: 120px;
    height: 44px;
    background-color: #3563e9;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    color: #fff;
    font-weight: 600;
    z-index: 1;
    position: relative; }
    .right_ad button:hover {
      cursor: pointer; }

.cards {
  padding: 50px 0 50px 50px; }
  .cards .card {
    width: 250px;
    height: 300px;
    border-radius: 7px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .cards .card_header {
    padding: 20px; }
  .cards .heart_icon {
    position: absolute;
    top: 18px;
    right: 15px; }
  .cards .car_img {
    width: 200px;
    margin-right: 10px;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    padding-right: 15px; }
  .cards .card_info {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 80px;
    padding-left: 10px;
    font-size: 15px;
    color: gray; }
  .cards .card_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 10px;
    gap: 30px; }
    .cards .card_footer button {
      background-color: #3563E9;
      width: 90px;
      height: 30px;
      border: none;
      color: white;
      border-radius: 5px; }

.car_options {
  display: flex;
  justify-content: center;
  gap: 50px; }

.pick-up {
  height: 130px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .pick-up__input {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 16px; }
  .pick-up__choose {
    display: flex;
    justify-content: space-between; }
    .pick-up__choose__locations {
      display: flex;
      flex-direction: column;
      gap: 8px; }
      .pick-up__choose__locations > p {
        margin-left: 4px;
        font-weight: 600; }
      .pick-up__choose__locations > select {
        width: 126px;
        border: none;
        color: #90A3BF;
        font-size: 12px; }

.section2 {
  display: flex;
  align-items: center;
  padding: 0 125px;
  justify-content: space-between;
  align-items: center; }
  .section2__btn {
    height: 60px;
    width: 60px; }
  .section2__btn > button {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #3563E9; }
    .section2__btn > button > i {
      color: #fff; }

@media only screen and (max-width: 1250px) {
  .row {
    margin: 0; }
  .ads {
    display: flex;
    flex-direction: column; } }

.detail__left {
  margin-left: 15px;
  width: 360px;
  background-color: white;
  height: 1400px; }
  .detail__left__type {
    margin-top: 10px;
    color: gray;
    margin-left: 20px;
    font-size: 14px; }
    .detail__left__type__choosen {
      padding: 20px;
      color: gray; }
      .detail__left__type__choosen > ul {
        display: flex;
        flex-direction: column;
        gap: 32px; }
  .detail__left__capaciyt {
    margin-top: 10px;
    color: rgba(128, 128, 128, 0);
    margin-left: 20px; }
    .detail__left__capaciyt > p {
      color: gray;
      margin-top: 30px;
      font-size: 14px; }
    .detail__left__capaciyt__choosen {
      padding: 20px;
      color: gray; }
      .detail__left__capaciyt__choosen > ul {
        display: flex;
        flex-direction: column;
        gap: 32px; }
  .detail__left__PRICE {
    color: gray;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 25px; }
    .detail__left__PRICE__COST {
      height: 5px;
      width: 90px;
      border-radius: 20px;
      color: blue;
      margin-left: 20px;
      margin-top: 15px; }
      .detail__left__PRICE__COST__p {
        color: rgba(0, 0, 0, 0.677);
        font-size: 20px;
        margin-top: 12px; }
      .detail__left__PRICE__COST > input {
        width: 296px; }

.detail__right__img {
  background-color: #3563E9;
  width: 492px;
  position: relative;
  height: 360px;
  border-radius: 15px; }
  .detail__right__img__h1 {
    color: white;
    padding-top: 30px;
    padding-left: 10px;
    font-size: 32px;
    margin-left: 10px;
    margin-bottom: 40px; }
    .detail__right__img__h1__p {
      color: white;
      padding-left: 10px;
      margin-left: 10px;
      width: 300px; }

.detail__right__right {
  width: 492px;
  height: 508px;
  padding: 24px;
  border-radius: 10px;
  position: relative; }
  .detail__right__right > i {
    position: absolute;
    top: 24px;
    left: 444px;
    font-size: 20px;
    color: #ED3F3F; }
  .detail__right__right__h2 {
    gap: 20px;
    font-size: 32px; }
  .detail__right__right__p {
    margin-top: 40px; }
  .detail__right__right__i {
    margin-top: 10px; }
    .detail__right__right__i > i {
      color: #FBAD39; }
  .detail__right__right__span {
    margin-top: 50px;
    gap: 20px; }

.detail__right {
  display: flex;
  gap: 30px;
  height: 1400px; }

.detail {
  display: flex;
  gap: 40px;
  padding-top: 32px;
  height: 1800px; }

.i {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 492px;
  height: 360px; }
  .i > img {
    width: 100%;
    height: 100%; }

.detail__right__right__buttom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px; }

.detail__right__right__button {
  border-radius: 10px; }
  .detail__right__right__button > a > button {
    width: 140px;
    height: 56px;
    border-radius: 5px;
    background-color: #3563E9;
    color: white;
    font-weight: 600;
    border: none; }
    .detail__right__right__button > a > button:hover {
      cursor: pointer; }

.detail__right__right__span {
  display: flex;
  gap: 35px; }

.detail__right__right__span__bottom {
  display: flex;
  gap: 35px;
  margin-top: 20px; }

.detail__right__right__p {
  color: gray;
  font-size: 20px;
  line-height: 40px; }

.div__img {
  display: flex;
  margin-top: 220px;
  display: flex;
  justify-content: space-between; }
  .div__img > img {
    width: 148px;
    height: 124px; }

.div__right {
  display: flex;
  gap: 20px; }

.detail__right__buttom {
  width: 900px;
  height: 200px;
  margin-top: 20px; }
  .detail__right__buttom__img {
    margin-top: 20px; }

.detail__right__buttom__h2 {
  margin-top: 20px;
  font-size: 20px;
  color: black; }

.detail__right__buttom__p {
  margin-top: 20px;
  color: gray; }

.cart {
  height: 388px;
  width: 317px;
  padding: 24px;
  position: relative; }
  .cart__p {
    margin-top: 5px;
    font-size: 14px;
    color: #90A3BF; }
  .cart__i {
    position: absolute;
    left: 240px;
    bottom: 180px; }
  .cart img {
    margin-top: 52px; }
  .cart__ii {
    display: flex;
    gap: 30px;
    margin-left: 15px;
    margin-top: 52px;
    color: #90A3BF; }
  .cart__div {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 5px; }
  .cart__pp > p {
    font-size: 14px;
    font-weight: 600;
    line-height: 44px; }
  .cart__button > button {
    height: 44px;
    width: 116px;
    background-color: #3563E9;
    border: none;
    color: white;
    border-radius: 5px; }

.cart__detail {
  display: flex;
  height: 430px;
  width: 1030px;
  flex-wrap: wrap; }

.cart__detail__buttom {
  display: flex;
  margin-top: 20px; }

.cart__h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px; }

.detail > i {
  font-size: 30px;
  display: none; }

@media only screen and (max-width: 1250px) {
  .detail__left {
    display: none; }
  .detail {
    justify-content: end; }
  .detail > i {
    display: block;
    position: absolute;
    left: 10px; } }

html {
  scroll-behavior: smooth; }
